<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/img/infineon-logo.svg">
    <title>
        @ViewBag.Title - PAM E-Catalog
    </title>
    <!-- FONTS AND ICONS -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" />
    <!-- NUCLEO ICONS -->
    <link href="https://demos.creative-tim.com/argon-dashboard-pro/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="https://demos.creative-tim.com/argon-dashboard-pro/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- FONT AWESOME ICONS -->
    <script src="https://kit.fontawesome.com/92ac82bb14.js" crossorigin="anonymous"></script>
    <!-- CSS FILES -->
    <link href="~/assets/css/argon-dashboard.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <!-- DATATABLES CSS -->
    <link href="~/assets/datatables/css/dataTables.dataTables.css" rel="stylesheet" />
    <!-- JQUERY -->
    <script type="text/javascript" src="~/Scripts/jquery-3.7.1.min.js"></script>
    <!-- DATATABLES JS -->
    <script type="text/javascript" src="~/assets/datatables/js/dataTables.js"></script>
</head>
