<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/img/infineon-logo.svg">
    <title>
        @ViewBag.Title - PAM E-Catalog
    </title>
    <!-- FONTS (SOURCE SANS 3)-->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet" />
    <!-- FONT AWESOME ICONS -->
    <script src="https://kit.fontawesome.com/92ac82bb14.js" crossorigin="anonymous"></script>
    <!-- SWEETALERT2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- CSS FILES -->
    <link href="~/Assets/CSS/argon-dashboard.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <!-- DATATABLES CSS -->
    <link href="~/Assets/Datatables/css/dataTables.dataTables.css" rel="stylesheet" />
    <!-- JQUERY -->
    <script type="text/javascript" src="~/Scripts/jquery-3.7.1.min.js"></script>
    <!-- DATATABLES JS -->
    <script type="text/javascript" src="~/Assets/Datatables/js/dataTables.js"></script>
</head>
